# Python
venv/              # Virtual environment folder
__pycache__/       # Python bytecode cache
*.pyc              # Compiled Python files
.pytest_cache/     # Pytest cache

# Secrets
.env               # Environment variables

# OS/Editor
.DS_Store          # macOS metadata
.idea/             # JetBrains IDE
.vscode/           # VS Code settings
